/* CSS Document */
.right {
  float: left;
}

#header .end-side {
  left: 2rem;
}

#mm-blocker {
  right: 0;
}

.hamburger, .mm-menu {
  right: 0;
}

.sort-by {
  float: left;
}

.header-widget {
  float: right;
}

.fullwidth .header-widget:last-of-type {
  float: left;
}

.header-notifications-dropdown {
  left: -15px;
}

.header-notifications-dropdown:before {
  left: 35px;
}

.user-menu .header-notifications-dropdown {
  left: -10px;
}
.user-menu .header-notifications-dropdown::before {
  left: 20px;
}

.stickyDiv .close, .editInfo {
  float: left;
}

.deleteImg {
  left: 0;
}

.close_btn {
  left: 0;
}

[type=checkbox] + label:before,
[type=checkbox]:not(.filled-in) + label:after {
  right: 0;
}

[type=checkbox]:checked + label:before {
  right: -5px;
}

.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before {
  float: right;
}

.verify {
  left: 1rem;
}

.balloon {
  right: 25px;
}

#navigation ul li ul {
  right: 9px;
}
#navigation ul ul ul {
  right: 100%;
}
#navigation ul ul ul:after {
  right: -15px;
}
#navigation ul ul ul:before {
  right: -15px;
}
#navigation ul ul::before {
  right: 0;
}
#navigation ul ul::after {
  right: 25px;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after, #navigation ul ul.dropdown-nav li a:after {
  right: auto;
  left: 1rem;
}

nav ul li > a > span.badge {
  left: 12px;
}

nav ul li > a > span#activity_count {
  left: 30px;
}

ul.mm-listview li > a > .badge {
  left: 1rem;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
}

.dropdown-menu-end[data-bs-popper] {
  right: auto;
  left: 0;
}

/* RTL only */
html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
  -webkit-transform: translate(-80%, 0);
  -ms-transform: translate(-80%, 0);
  transform: translate(-80%, 0);
  -webkit-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}

.mm-next:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 23px;
  right: auto;
}

@media all and (min-width: 550px) {
  html.mm-opening .mm-menu.mm-opened ~ .mm-slideout {
    -webkit-transform: translate(-440px, 0);
    -ms-transform: translate(-440px, 0);
    transform: translate(-440px, 0);
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
}
@media (max-width: 991.98px) {
  #header .end-side {
    left: 1rem;
  }
  .header-widget {
    float: right;
  }
  .fullwidth .header-widget:last-of-type,
  .header-widget:last-of-type {
    float: right;
  }
  .mmenu-trigger {
    float: left;
  }
}
@media (max-width: 768px) {
  .freelancer {
    margin: 0 0 20px 20px;
  }
  .user-menu .header-notifications-dropdown,
  .header-notifications-dropdown {
    left: -10px;
  }
  .notify-box .sort-by {
    left: 0;
  }
  .notify-box .sort-by .bootstrap-select .dropdown-menu {
    right: auto;
    left: 0;
  }
}
.language .dropdown-menu {
  right: 0 !important;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after, #navigation ul ul.dropdown-nav li a:after {
  content: "\f111";
}/*# sourceMappingURL=style-rtl.css.map */