/* CSS Document */
@font-face {
  font-family: "Gochi Hand";
  src: url("../fonts/GochiHand-Regular.ttf");
  font-weight: normal;
}
a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style: none;
}

h2.title {
  font-family: "Gochi Hand", sans-serif;
  padding-bottom: 30px;
  position: relative;
}

b, strong {
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

textarea {
  resize: vertical;
}

th {
  font-weight: 600;
}

.center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.site-text {
  color: #df314d;
}

.grey-text {
  color: #9e9e9e !important;
}

.black-text {
  color: #333;
}

.-mb-3 {
  margin-bottom: -1rem;
}

.-mb-4 {
  margin-bottom: -1.5rem;
}

.right-align {
  text-align: end;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.text-ellipsis-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#logo {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 245px;
  padding-inline-end: 30px;
  margin-inline-end: 20px;
}
#logo img {
  max-height: 64px;
  max-width: 200px;
  top: 50%;
  position: relative;
  transform: translate3d(0, -50%, 0);
}

#header {
  position: relative;
  z-index: 999;
  padding: 0;
  height: 72px;
  backdrop-filter: blur(20px);
}
#header .container, #header .start-side, #header .end-side {
  height: 100%;
}
#header .container {
  position: relative;
}
#header .start-side {
  display: inline-block;
  position: relative;
  flex: 1;
}
#header .end-side {
  width: auto;
  display: inline-block;
  position: absolute;
  flex: 1;
}

/* Full Width Header */
.header-widget {
  display: inline-block;
  height: 100%;
  padding: 0 0.75rem;
  text-align: start;
}
.header-widget:last-of-type {
  padding-inline-end: 0;
  margin-inline-end: -5px;
}
.header-widget .log-in-button {
  padding: 10px 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  display: block;
}

.fullwidth .container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}
.fullwidth .header-widget:first-of-type {
  margin-inline-start: 1rem;
}
.fullwidth .header-widget:last-of-type {
  margin-inline-end: 0;
}

.intro-banner {
  padding: 100px 0 60px;
  position: relative;
}
.intro-banner .container {
  z-index: 100;
  position: relative;
}
.intro-banner .background-image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

#navigation ul .dropdown-item {
  color: #fff;
  padding: 0.25rem 1rem;
}
#navigation ul li > span {
  font-style: italic;
  padding: 0 0.5rem;
}
#navigation ul > li > a.btn:hover {
  color: #fff;
}
#navigation ul ul {
  background-color: var(--mo-body-bg);
}
#navigation ul ul::after {
  border-bottom-color: var(--mo-body-bg);
}
#navigation ul ul.dropdown-nav li a {
  color: var(--mo-body-color);
  transition: 0.3s;
}
#navigation ul ul.dropdown-nav li:hover a {
  color: #df314d;
}
#navigation ul ul.dropdown-nav li ul.dropdown-nav li a {
  color: var(--mo-body-color);
}
#navigation ul ul.dropdown-nav li ul.dropdown-nav li a:hover {
  color: #df314d;
}

.table thead th {
  border-bottom-width: 1px;
}

.nav {
  flex-wrap: inherit;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #df314d;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #495057;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.nav-tabs .nav-link {
  border-radius: 0;
}
.nav-tabs .nav-link:focus {
  border-bottom-color: #495057;
}

.accordion {
  margin-bottom: 1.5rem;
}
.accordion .card-header {
  padding: 0;
}
.accordion .card-header .btn-link {
  color: var(--mo-body-color);
}
.accordion > .card .card-header {
  margin-bottom: -1px;
}

.accordion .card-header .btn-link:hover,
.accordion .card-header .btn-link:focus {
  color: #df314d;
  text-decoration: none;
}

.list-group-item.active {
  background-color: #df314d;
  border-color: #df314d;
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 1px;
}

.btn-link {
  color: #df314d;
}

nav {
  z-index: 99;
}
nav .nav-wrapper {
  position: relative;
  padding: 10px;
}
nav ul a {
  color: var(--mo-body-color);
  position: relative;
}
nav ul li > a > span.badge {
  position: absolute;
  top: 7px;
  background-color: #df314d;
  font-size: 12px;
  color: #fff;
  min-width: 22px;
  display: none;
  z-index: 9;
}
nav ul li > a > span.badge#activity_count {
  top: -10px;
}
nav ul li .dropdown-content a span.badge {
  right: auto;
}
nav .button-collapse {
  margin: 0;
}
nav .button-collapse i {
  height: 36px;
  line-height: 36px;
}

ul.mm-listview li a .badge {
  position: absolute;
}

.stickyLogo {
  display: none;
  max-height: 75px;
}

.btn-block {
  width: 100%;
}

.card {
  margin-bottom: 1rem;
}
.card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-header .card-title {
  margin-bottom: 0;
}
.card .card-content {
  padding: 20px;
}
.card .card-content .card-title {
  margin-bottom: 1rem;
  font-weight: 500;
}
.card.card-profile {
  border: none;
  overflow: hidden;
}
.card.card-profile .card-image {
  overflow: hidden;
  position: relative;
}
.card.card-profile .card-image .card-img-top {
  transition: 0.3s;
}
.card.card-profile h5 {
  text-transform: capitalize;
}
.card.card-profile h5 a {
  color: var(--mo-body-color);
}
.card.card-profile p .bi {
  font-size: 0.875rem;
}
.card.card-profile:hover .card-image .card-img-top {
  transform: scale(1.1, 1.1) rotate(5deg);
}

.card-panel {
  padding: 20px;
}

.checkbox, .card .card-content .checkbox {
  margin: 0 0 10px;
}

.collection.with-header .collection-item {
  padding-inline-start: 20px;
}
.collection .collection-item.active {
  background-color: #df314d;
  border-color: #df314d;
}
.collection .collection-item.active a {
  color: #fff;
}

.dropdown-content {
  min-width: 200px;
}
.dropdown-content li {
  min-height: inherit;
}
.dropdown-content li > a {
  color: #df314d;
}
.dropdown-content li > span {
  color: #333;
  cursor: default;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px;
  padding: 10px 15px;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #df314d;
}

.tabs .indicator {
  background-color: #df314d;
}

.progress {
  background-color: #dddddd;
}
.progress .determinate {
  background-color: #df314d;
}

td, th {
  padding: 8px 5px;
}

.modal.modal-fixed-footer {
  height: 100%;
}
.modal .modal-content {
  border: none;
}

.modal-close {
  position: absolute;
  right: 0;
}

i.right {
  margin-inline-start: 5px;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 1.5rem;
}
.carousel .indicators .indicator-item {
  background: none;
  height: 18px;
  width: 18px;
}
.carousel .indicators .indicator-item.active {
  background: none;
}
.carousel .indicators .indicator-item.active:before {
  background: none;
  color: #df314d;
}
.carousel .indicators .indicator-item:before {
  content: "\f15f";
  font-size: 20px;
  position: absolute;
  font-family: "Material-Design-Iconic-Font";
  color: #eee;
}

#sidenav-overlay {
  z-index: 996;
}

.side-nav li > a {
  padding: 0 20px;
}
.side-nav li > a:hover {
  background-color: #df314d;
}

.side-nav li > a > i, .side-nav li > a > [class^=mdi-], .side-nav li > a li > a > [class*=mdi-], .side-nav li > a > i.material-icons {
  color: inherit;
  margin-inline-end: 0;
}

.pagination li.active {
  background-color: #df314d;
}

figure {
  margin: 0;
}

.row-5:after, .row-5:before, .clearfix:after, .clearfix:before {
  display: table;
  content: " ";
}

.row-5:after, .clearfix:after {
  clear: both;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.text-green {
  color: #4CAF50 !important;
}

.text-red {
  color: #F44336 !important;
}

.sec {
  padding: 30px 0;
  position: relative;
}

.banner-wrapper {
  right: 0;
  top: 25px;
  width: 100%;
}

.valign {
  align-items: center;
}
.valign > [class*=col] {
  display: table-cell;
  float: none;
}

[data-valign-overlay=middle] {
  vertical-align: middle;
}

.banner_caption {
  color: #fff;
  font-family: "Gochi Hand", Arial;
  font-style: normal;
  text-transform: capitalize;
}

.registration .row .input-field, .advance_search .row .input-field {
  margin-top: 0;
}

.registration {
  /* background-color: rgba(var(--mo-body-bg-rgb), 50%); */
  backdrop-filter: blur(20px);
  border: 2px dashed rgba(var(--mo-body-color-rgb), 50%);
  border-radius: 0.5rem;
  color: var(--mo-body-color);
  margin-top: 25px;
  padding: 1.5rem;
}
.registration h3 {
  text-transform: capitalize;
}
.registration h6 {
  font-size: 12px;
  line-height: 18px;
}

.form-control {
  border-color: rgba(var(--mo-body-color-rgb), 25%);
}

.form-floating .form-control, .form-floating .form-select, .form-floating .select-wrapper input.select-dropdown, .form-floating .bootstrap-select.btn-group button {
  background-color: transparent;
  border-color: rgba(var(--mo-body-color-rgb), 25%);
  box-shadow: none;
  color: var(--mo-body-color);
}
.form-floating .form-select {
  border-color: rgba(var(--mo-body-color-rgb), 25%);
  box-shadow: none;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-select ~ label {
  color: var(--mo-body-color);
  height: auto;
  padding: 0 0.25rem;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-control:focus ~ label::after, .form-floating > .form-select ~ label::after {
  background: none;
}
.form-floating input[type=date i],
.form-floating ::-webkit-calendar-picker-indicator {
  color: var(--mo-body-color);
}
.form-floating .bootstrap-select {
  border: none;
  padding: 0;
}
.form-floating .bootstrap-select .dropdown-menu {
  background-color: var(--mo-body-bg);
}
.form-floating .bootstrap-select .dropdown-menu > li > a {
  color: var(--mo-body-color);
}
.form-floating > label {
  white-space: normal;
}

.join {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.join:hover {
  color: #fff;
}
.join.fb {
  background-color: #3A77EA;
}
.join.fb:hover {
  background-color: #3A77EA;
  opacity: 0.9;
}
.join.li {
  background-color: #005b87;
}
.join.li:hover {
  background-color: #005b87;
  opacity: 0.9;
}

.works h4.grey-text {
  font-family: "Gochi Hand", sans-serif;
}

.widget {
  padding: 30px 20px 20px;
}
.widget h4 {
  margin-top: 15px;
  height: 40px;
  position: relative;
  text-transform: uppercase;
}
.widget p {
  font-size: 16px;
  min-height: 48px;
}

.profiles .nav-underline .tab a {
  letter-spacing: 0.5px;
}
.profiles figure {
  margin-bottom: 1.5rem;
  text-align: center;
}
.profiles figure a {
  color: #fff;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.profiles figure a:hover {
  color: #df314d;
}
.profiles figure a .caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 10px 10px 8px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.profiles figure a .caption p {
  margin: 0;
}
.profiles figure:hover .caption {
  background-color: rgba(0, 0, 0, 0.75);
}

.divider-2:before {
  content: "";
  background: url(../images/divider_love.png) no-repeat 0 0;
  width: 236px;
  height: 18px;
  position: absolute;
  left: calc(50% - 118px);
  bottom: 10px;
}

.divider-3:before {
  content: "";
  background: url(../images/divider_default.png) no-repeat 0 0;
  width: 97px;
  height: 3px;
  position: absolute;
  left: calc(50% - 48px);
  bottom: 0;
}

.testimonial {
  background-color: #df314d;
  background-image: url("../images/bg_1.jpg");
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.testimonial .carousel {
  height: 400px !important;
}
.testimonial .user {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.testimonial p {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 680px;
}

.facts {
  /* background-color: #f5f5f5; */
  background-image: url("../images/dotted_map.png");
  background-size: contain;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.counter {
  margin-top: 20px;
  position: relative;
}
.counter h2 {
  font-family: "Gochi Hand", sans-serif;
  margin-bottom: 0;
}
.counter p {
  margin: 0;
}

footer {
  background-color: var(--mo-body-bg);
  color: var(--mo-body-color);
  padding: 2.5rem 0 0;
}
footer article > h4 {
  margin-bottom: 1rem;
}
footer article address i {
  margin-inline-end: 6px;
}

.copyright {
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

ul.foot-nav {
  margin-bottom: 1.5rem;
}
ul.foot-nav li {
  margin-bottom: 0.5rem;
}
ul.foot-nav li > a {
  color: var(--mo-body-color);
}
ul.foot-nav li > a:hover {
  color: #df314d;
}
ul.social-icon {
  margin-bottom: 0;
}
ul.social-icon li {
  display: inline-block;
  margin-inline-end: 6px;
}
ul.social-icon > li > a {
  color: #fff;
  background-image: url(../images/loveIcon.png);
  background-repeat: no-repeat;
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 30px;
  display: block;
  background-size: contain;
  text-align: center;
}
ul.social-icon > li > a:hover {
  background-image: url(../images/loveIconH.png);
  color: #df314d;
}
ul.gallery {
  overflow: hidden;
  margin-bottom: 0;
  margin-inline-start: -0.5rem;
  margin-inline-end: -0.5rem;
}
ul.gallery li {
  float: left;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
ul.gallery li a {
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
}
ul.gallery li a:hover img.responsive-img {
  transform: scale(1.2, 1.2);
}
ul.gallery li img.responsive-img {
  /* width: 100%;
  height: 150px; */
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}
ul.criteria {
  margin-top: 0;
  overflow: hidden;
}
ul.list-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-inline-start: -10px;
  margin-inline-end: -10px;
  margin-bottom: 0;
}
ul.list-info li {
  flex: 0 0 100%;
  padding: 5px 10px;
}
ul.list-info li b {
  display: inline-block;
  min-width: 40%;
}
ul.profileList {
  line-height: 18px;
}
ul.profileList li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
ul.profileList li > span {
  flex: 1;
}
ul.profileList li > span:last-child {
  text-align: end;
}
ul.pagination {
  margin-top: 1rem;
}
ul.pagination > li > a {
  color: #df314d;
  border-color: var(--mo-pagination-color);
}
ul.pagination > li > a i {
  line-height: 0;
}
ul.pagination > li > a:hover {
  border-color: var(--mo-pagination-color);
}

.banner {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.profile {
  border-bottom: 1px solid var(--mo-border-color-translucent);
  padding: 1.25rem;
}

.profilePic {
  margin: 0 auto 10px;
  max-width: 120px;
  height: 120px;
  display: block;
  position: relative;
}
.profilePic > img {
  height: 100%;
}
.profilePic:hover .cam_icon {
  display: block;
}

.cam_icon {
  position: absolute;
  top: calc(50% - 0.875rem);
  left: calc(50% - 0.875rem);
  display: none;
  background-color: rgba(223, 49, 77, 0.85);
  border-radius: 50%;
  color: var(--mo-body-color);
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
}

.f18 {
  font-size: 18px;
}

.f12 {
  font-size: 12px;
}

.left_panel .registration {
  background: none;
  padding: 0;
}

.row-5 .col {
  padding: 0 0.5rem;
  float: left;
}

.container .row-5 {
  margin-inline-start: -0.5rem;
  margin-inline-end: -0.5rem;
}

.allUser .user {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.allUser .user .freelancer-avatar img {
  border: 2px solid #fff;
  box-shadow: 0 0px 10px #999;
}
.allUser .user .intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
.allUser .user .intro p {
  margin: 0;
}
.allUser .user .action {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
}
.allUser .user .action > li {
  flex: 1;
}

.profileCard .action {
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
  align-items: center;
  width: 100%;
}

.allUser .user .action a, .active_color .user .action a, #trip_user_list .user .action a, .profileCard .user .action a {
  color: #df314d;
  font-size: 1.125rem;
  padding: 1px;
  display: block;
  border: 1px solid;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.allUser .user .action a.active, .active_color .user .action a.active, #trip_user_list .user .action a.active, .profileCard .user .action a.active {
  background-color: #df314d;
  border-color: #df314d;
  color: #fff;
}

.user .avatar {
  max-width: 150px;
  max-height: 150px;
  border: 5px solid var(--mo-border-color-translucent);
}
.user > p {
  margin: 10px 0 0;
}
.user > h6 {
  color: #999;
  font-size: 13px;
}

.linkedin-btn, .linkedin-btn span a {
  display: block !important;
  width: 100%;
  background-color: #005b87;
  height: 34px !important;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  line-height: 34px;
}

.error {
  color: #f00;
  font-size: 12px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: none !important;
}

.msg_box > p {
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}
.msg_box > p > .zmdi-email {
  font-size: 18px;
}

.inline-checkbox {
  display: inline-block;
  height: 40px;
  min-width: 20%;
}

#card-alert button {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  font-style: normal;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}
#card-alert button .zmdi-close {
  font-size: 18px;
  height: 26px;
  line-height: 26px;
}
#card-alert .card-content {
  padding: 15px;
}
#card-alert.alert {
  width: calc(100% - 25px);
}

.btn-small {
  height: 28px;
  line-height: 28px;
  padding: 0 1rem;
  font-size: 13px;
}

.deleteImg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.docPreview {
  position: relative;
  max-width: 200px;
  border-radius: 0.25rem;
  overflow: hidden;
}

.close_btn {
  position: absolute;
  top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
  height: 24px;
  width: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.close_btn:hover, .deleteImg:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.spacer-5 {
  height: 5px;
}

.spacer-10 {
  height: 10px;
}

.spacer-12 {
  height: 12px;
}

.spacer-15 {
  height: 15px;
}

.spacer-18 {
  height: 18px;
}

.spacer-20 {
  height: 20px;
}

.spacer-25 {
  height: 25px;
}

.spacer-30 {
  height: 30px;
}

.spacer-35 {
  height: 30px;
}

.spacer-40 {
  height: 40px;
}

.spacer-50 {
  height: 50px;
}

.spacer-5, .spacer-10, .spacer-12, .spacer-15, .spacer-18, .spacer-20, .spacer-25, .spacer-30, .spacer-35, .spacer-40, .spacer-50 {
  clear: both;
  overflow: hidden;
}

.mb-0 {
  margin-bottom: 0 !important;
}

ol.orderList li {
  margin-top: 10px;
}

table > tbody > tr.unread {
  background-color: #eee;
}
table.block-table {
  display: block;
}
table.block-table thead {
  border: 0;
  border-inline-end: 1px solid #d0d0d0;
  display: block;
  float: left;
}
table.block-table thead tr {
  display: block;
  padding: 0 10px 0 0;
}
table.block-table tbody {
  display: block;
  width: auto;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
table.block-table tbody tr {
  display: inline-block;
  vertical-align: top;
}
table.block-table.bordered tbody tr {
  border: none;
  border-inline-end: 1px solid #d0d0d0;
}
table.block-table th {
  display: block;
  text-align: end;
}
table.block-table td {
  display: block;
  text-align: center;
}

.file-with-border {
  border: 2px dashed #df314d;
  min-height: 120px;
  padding: 1rem;
  position: relative;
  text-align: center;
}
.file-with-border .custom-file-label {
  margin: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.file-with-border .custom-file-input {
  display: none;
}
.file-with-border .custom-file-input:focus {
  opacity: 0;
}

.material-icons {
  vertical-align: middle;
}

.msgPop {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #0c0;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  z-index: 9;
  color: #fff;
}

.add_remove {
  max-width: 320px;
}
.add_remove .btn-small {
  margin-bottom: 6px;
  letter-spacing: 0;
}

div.slide_gallery {
  height: 210px;
}
div.slide_gallery a {
  display: block;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
div.slide_gallery p {
  margin: 15px 0 0;
}

.border-box {
  background-color: var(--mo-body-bg);
  border: 1px solid var(--mo-border-color-translucent);
  margin-top: -1px;
  padding: 1.25rem;
}
.border-box .flex-shrink-0 img {
  object-fit: cover;
}
.border-box .card-text {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active_color {
  background-color: #fff6fc;
  border: 1px solid #f3e6ee;
  padding: 15px;
  overflow: hidden;
}

.active_color .user, #trip_user_list .user {
  text-align: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 5px;
  position: relative;
}

.active_color .user p, #trip_user_list .user p {
  font-size: 13px;
  margin-top: 10px;
}

.card-trip:last-child {
  margin-bottom: 0;
}

.nonCollapsible-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 25px;
}
.nonCollapsible-header > h4 {
  margin: 0;
}

.effect-from-s {
  overflow: hidden;
}

.card-profile .verify {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 12px;
  z-index: 9;
  border-radius: 50%;
  padding: 2px;
}
.card-profile .verify img {
  height: 24px;
  width: 24px;
}

.vip {
  position: absolute;
  left: 5px;
  top: 5px;
}

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  text-align: start;
}

.membership .btn-group .btn {
  overflow: hidden;
  min-width: 250px;
  padding: 1rem;
  text-align: start;
  margin-inline-start: 0.5rem !important;
  margin-inline-end: 0.5rem !important;
}
.membership .plan {
  background-color: var(--mo-body-bg);
  margin-bottom: 1.25rem;
}
.membership .plan .name {
  background-color: rgba(var(--mo-body-color-rgb), 0.03);
  padding: 0.75rem 1rem;
}
.membership .plan .name h3 {
  margin-bottom: 0;
}
.membership .plan h3 {
  margin: 0;
}
.membership .plan p {
  margin: 10px 0;
}
.membership .plan > ul {
  margin: 0;
}
.membership .plan > ul li {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  min-height: 122px;
}
.membership .plan > ul li:nth-child(2n) {
  background-color: rgba(var(--mo-body-color-rgb), 0.03);
}
.membership ul.monthly li {
  line-height: 122px;
  padding: 0 !important;
}

.table-membership .bi.text-green, .table-membership .bi.text-red {
  font-size: 1.25rem;
}

.f13 {
  font-size: 13px;
}

.f16 {
  font-size: 16px;
}

.or_option {
  margin: 1rem 0;
  position: relative;
}
.or_option:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border-bottom: 1px solid var(--mo-border-color-translucent);
  width: 100%;
}
.or_option span {
  background-color: var(--mo-body-bg);
  padding: 0 0.5rem;
  z-index: 9;
  color: var(--mo-body-color);
  position: relative;
  font-size: 11px;
  line-height: 17px;
  width: 2rem;
  display: inline-block;
  text-align: center;
}

.expired {
  position: absolute;
  color: white;
  font-size: 11px;
  right: -35px;
  width: 170px;
  top: 6px;
  background-color: #d70015;
  transform: rotate(40deg) translate(15px);
  padding: 4px 30px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.address-item {
  word-wrap: break-word;
}
.address-item .material-icons {
  color: #df314d;
  font-size: 4rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
}
.owl-carousel .owl-stage .owl-item .item {
  height: 100%;
}
.owl-carousel .owl-stage .owl-item .card {
  height: calc(100% - 1rem);
}

.owl-carousel .card .card-image .card-title {
  font-size: 20px;
  padding: 20px;
}

.owl-nav .owl-prev {
  margin-inline-end: 5px;
  transform: rotate(90deg);
}
.owl-nav .owl-next {
  margin-inline-start: 5px;
  transform: rotate(-90deg);
}

.stickyDiv {
  position: absolute;
  top: 0;
  width: calc(100% - 1.5rem);
}

.stickyDiv {
  display: none;
  z-index: 99;
}
.stickyDiv .btn-close {
  font-size: 1rem;
}

.editInfo {
  color: var(--mo-body-color);
  opacity: 0.5;
}
.editInfo:hover {
  opacity: 0.75;
}

#message_wrapper table {
  border: 1px solid #d0d0d0;
}
#message_wrapper .table td [class*=" zmdi-star"] {
  font-size: 16px;
}
#message_wrapper .table td:first-child a {
  position: relative;
  display: inline-block;
}
#message_wrapper .table td:first-child a .zmdi-circle {
  position: absolute;
  bottom: 2px;
  left: 36px;
}

.online-badge, .offline-badge {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
}

.offline-badge {
  background-color: #777;
}

.hide {
  display: none !important;
}

.list-group .list-group-item.avatar {
  min-height: 70px;
  padding-inline-start: 72px;
  position: relative;
}
.list-group .list-group-item.avatar .circle {
  position: absolute;
  width: 40px;
  height: 40px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.loader {
  height: 100px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert > p {
  margin: 0;
}

.dropdown-toggle::after {
  display: none !important;
}

.table-middle th, .table-middle td {
  vertical-align: middle;
}

.file_upload_bx {
  width: 100px;
  height: 100px;
  margin: auto auto;
  position: relative;
  text-align: center;
  border: 2px dashed #df314d;
}
.file_upload_bx input[type=file] {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.file_upload_bx i {
  font-size: 3rem;
  color: #df314d;
  z-index: 1;
  top: 50%;
  position: relative;
  transform: translate3d(0, -50%, 0);
}

.divider {
  position: relative;
  text-align: center;
}
.divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: var(--mo-border-color-translucent);
  height: 1px;
}
.divider small {
  background-color: var(--mo-body-bg);
  padding: 0 10px;
  z-index: 9;
  position: relative;
}

.travel-date > p {
  margin-bottom: 0.25rem;
}

.table-match tbody tr td:last-child {
  text-align: end;
}

.card-media .media {
  border-bottom: 1px solid var(--mo-border-color-translucent);
  color: var(--mo-body-color);
  padding: 0.75rem 1rem;
}
.card-media .media:last-child {
  border-bottom: none;
}
.card-media .media:hover {
  color: #df314d;
}

section.profiles {
  background-image: url(../images/heartshape.webp);
  background-size: contain;
  background-repeat: repeat;
}

.language.ml-4 {
  margin-top: 8px;
}
.language .dropdown-menu {
  min-width: 3em;
  transform: translate(15px, 32px) !important;
}
.language .dropdown-menu .dropdown-item {
  padding: 0.25em 0.75rem;
}

.dropdown.language img {
  display: block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.topLogo {
  max-height: 75px;
}

.card-blog .card-image img {
  height: 200px;
  object-fit: cover;
}
.card-blog .card-body > h4, .card-blog .card-body > p {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-blog .card-body > h4 {
  font-size: 1.25rem;
  -webkit-line-clamp: 1;
}
.card-blog .card-body > p {
  -webkit-line-clamp: 3;
}

.theme-icon-active {
  color: var(--mo-body-color);
}

[data-bs-theme=light] body, [data-bs-theme=auto] body {
  background-color: #fff5f5;
}
[data-bs-theme=light] header:not(.transparent-header) #header, [data-bs-theme=auto] header:not(.transparent-header) #header {
  background-color: rgba(255, 255, 255, 0.5);
}
[data-bs-theme=light] #header .logo-light, [data-bs-theme=auto] #header .logo-light {
  display: none;
}
[data-bs-theme=light] .profiles, [data-bs-theme=auto] .profiles {
  background-color: #fff5f5;
}
[data-bs-theme=light] .intro-banner .background-image-container.dark, [data-bs-theme=auto] .intro-banner .background-image-container.dark {
  display: none;
}
[data-bs-theme=light] .intro-banner .banner_caption, [data-bs-theme=auto] .intro-banner .banner_caption {
  display: none;
}
[data-bs-theme=light] .or_option span, [data-bs-theme=auto] .or_option span {
  background-color: #fff5f5;
}
[data-bs-theme=light] .registration .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=light] .registration .form-floating > .form-control:focus ~ label, [data-bs-theme=light] .registration .form-floating > .form-select ~ label, [data-bs-theme=auto] .registration .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=auto] .registration .form-floating > .form-control:focus ~ label, [data-bs-theme=auto] .registration .form-floating > .form-select ~ label {
  background-color: #fff5f5;
}
[data-bs-theme=light] .card .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=light] .card .form-floating > .form-control:focus ~ label, [data-bs-theme=light] .card .form-floating > .form-select ~ label, [data-bs-theme=light] .collapsible .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=light] .collapsible .form-floating > .form-control:focus ~ label, [data-bs-theme=light] .collapsible .form-floating > .form-select ~ label, [data-bs-theme=auto] .card .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=auto] .card .form-floating > .form-control:focus ~ label, [data-bs-theme=auto] .card .form-floating > .form-select ~ label, [data-bs-theme=auto] .collapsible .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=auto] .collapsible .form-floating > .form-control:focus ~ label, [data-bs-theme=auto] .collapsible .form-floating > .form-select ~ label {
  background-color: #fff;
}
[data-bs-theme=light] .mm-menu, [data-bs-theme=auto] .mm-menu {
  background: #fff;
}
[data-bs-theme=light] ul.social-icon > li > a:hover, [data-bs-theme=auto] ul.social-icon > li > a:hover {
  background-image: url(../images/loveIconH-light.png);
}

[data-bs-theme=dark] body {
  background-color: #210053;
}
[data-bs-theme=dark] #header {
  background-color: rgba(49, 19, 91, 0.5);
}
[data-bs-theme=dark] #header .logo-dark {
  display: none;
}
[data-bs-theme=dark] .transparent-header #header {
  background-color: transparent;
  backdrop-filter: none;
}
[data-bs-theme=dark] .profiles {
  background-color: #210053;
}
[data-bs-theme=dark] nav {
  color: #fff;
}
[data-bs-theme=dark] .intro-banner .background-image-container.light {
  display: none;
}
[data-bs-theme=dark] .premium-match img, [data-bs-theme=dark] .noavatar img {
  filter: brightness(0) invert(1);
}
[data-bs-theme=dark] .registration .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=dark] .registration .form-floating > .form-control:focus ~ label, [data-bs-theme=dark] .registration .form-floating > .form-select ~ label {
  background-color: rgba(49, 19, 91, 0.5);
}
[data-bs-theme=dark] .card .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=dark] .card .form-floating > .form-control:focus ~ label, [data-bs-theme=dark] .card .form-floating > .form-select ~ label, [data-bs-theme=dark] .collapsible .form-floating > .form-control:not(:placeholder-shown) ~ label, [data-bs-theme=dark] .collapsible .form-floating > .form-control:focus ~ label, [data-bs-theme=dark] .collapsible .form-floating > .form-select ~ label {
  background-color: #31135b;
}
[data-bs-theme=dark] .works .widget img {
  filter: brightness(0) invert(1);
}
[data-bs-theme=dark] select {
  background-color: #31135b !important;
}
[data-bs-theme=dark] .mm-menu {
  background: #31135b;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
.balloon {
  position: absolute;
  display: block;
  top: 40%;
  background-image: url(../images/balloon.webp);
  background-repeat: no-repeat;
  background-size: 84px;
  width: 84px;
  height: 230px;
  z-index: 3;
  animation: swing ease-in-out 1s infinite alternate;
}

.media {
  display: flex;
}
.media .media-body {
  flex-grow: 1;
}

.btn-group {
  margin-inline-start: -0.5rem;
  margin-inline-end: -0.5rem;
}
.btn-group .btn-outline-primary {
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  border: none;
  color: var(--mo-body-color);
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}
.btn-group .btn-outline-primary:hover {
  background-color: rgba(var(--mo-body-color-rgb), 0.2);
  color: var(--mo-body-color);
}
.btn-group .btn-check:checked + .btn-outline-primary {
  background-color: #df314d;
  color: #fff;
}

.not-result-found {
  text-align: center;
}
.not-result-found p.mx-auto {
  max-width: 720px;
}
.not-result-found .noavatar {
  margin-bottom: 1rem;
}
.not-result-found .noavatar img {
  opacity: 0.75;
}

/* themestyle */
.dashboard-sidebar {
  background-color: var(--mo-body-bg);
  /* height: 100vh; */
}

.dashboard-nav ul li a {
  color: var(--mo-body-color);
}

.dropdown-menu > li > a {
  color: var(--mo-body-color);
}

.small-footer {
  /*border-top: 1px solid var(--mo-border-color-translucent);*/
  background-color: var(--mo-body-bg);
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}
.small-footer ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1px;
  text-align: center;
}
.small-footer ul li {
  border: 1px solid var(--mo-border-color-translucent);
  margin-left: -1px;
  flex: 1;
}
.small-footer ul li a {
  color: var(--mo-body-color);
  display: block;
  font-size: 14px;
  padding: 7px;
}
.small-footer ul li a:hover, .small-footer ul li a.active {
  color: #df314d;
}
.small-footer ul li a i {
  display: block;
  font-size: 1.375rem;
  margin: auto;
  height: auto;
  line-height: 1;
}
.small-footer ul li a i.bi-active {
  display: none;
}
.small-footer ul li a.active .bi-inactive {
  display: none;
}
.small-footer ul li a.active .bi-active {
  display: block;
}

.messages-headline {
  border-bottom-color: var(--mo-border-color-translucent);
}

.messages-container-inner .messages-inbox {
  /* border-inline-end: 1px solid var(--mo-border-color-translucent); */
}
.messages-container-inner .messages-inbox ul li {
  transition: 0.2s;
  position: relative;
}
.messages-container-inner .messages-inbox ul li:nth-child(2n) {
  background-color: var(--mo-light-bg-subtle);
}
.messages-container-inner .messages-inbox ul li:last-child {
  border-bottom: none;
}
.messages-container-inner .messages-inbox ul li a {
  color: var(--mo-body-color);
  display: block;
  padding: 1rem 1.25rem;
  position: relative;
}
.messages-container-inner .messages-inbox ul li a.active {
  background-color: rgba(223, 49, 77, 0.1);
}

/* Reply */
.message-reply {
  border-top: 1px solid var(--mo-border-color-translucent);
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
}
.message-reply textarea {
  min-width: auto;
  height: 40px;
  min-height: 40px;
  padding: 8px 0;
  margin: 0 15px 0 0;
  flex: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  resize: none;
}
.message-reply button {
  border-radius: 4px;
  flex: auto;
  flex-grow: 0;
  height: 40px;
  text-align: center;
  align-self: start;
  padding: 0 1rem;
}
.message-reply i {
  padding: 0;
  margin: 0;
}

.message-bubble {
  display: block;
  position: relative;
  margin-bottom: 25px;
}
.message-bubble .message-avatar {
  position: absolute;
  left: 0;
  top: 20px;
}
.message-bubble .message-avatar img {
  width: 45px;
  height: 45px;
}
.message-bubble .message-text {
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  border-radius: 4px;
  padding: 7px 16px;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  margin-inline-start: 65px;
  /* Arrow */
}
.message-bubble .message-text::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-inline-end: 6px solid rgba(var(--mo-body-color-rgb), 0.1);
  left: -6px;
  right: auto;
  top: 14px;
  position: absolute;
}
.message-bubble .message-text p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  line-height: 25px;
}
.message-bubble.me .message-avatar {
  left: auto;
  right: 0;
}
.message-bubble.me .message-text {
  float: right;
  background-color: rgba(223, 49, 77, 0.15);
  color: var(--mo-body-color);
  position: relative;
  margin-inline-start: 0;
  margin-inline-end: 65px;
}
.message-bubble.me .message-text::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-inline-start: 6px solid rgba(223, 49, 77, 0.15);
  border-inline-end: none;
  right: -6px;
  left: auto;
}

.message-time-sign {
  position: relative;
  margin-bottom: 0;
  /* &::before {
  	content: "";
  	height: 1px;
  	background-color: var(--mo-border-color-translucent);
  	display: block;
  	max-width: 30%;
  	margin: 0 auto;
  	position: relative;
  	top: 14px;
  	z-index: 10;
  } */
}
.message-time-sign span {
  background-color: var(--mo-body-bg);
  color: rgba(var(--mo-body-color-rgb), 0.5);
  z-index: 11;
  position: relative;
  padding: 0 10px;
}

.tags-container {
  display: block;
  font-size: 0;
}

.tags-container input[type=checkbox] {
  display: none;
}

.tags-container input[type=checkbox] + label {
  transition: 0.3s;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  color: var(--mo-body-color);
  display: inline-block;
  padding: 4px 15px 5px;
  margin: 0;
}

.tags-container input[type=checkbox] + label:hover {
  background-color: rgba(var(--mo-body-color-rgb), 0.25);
}

.tags-container input[type=checkbox]:checked + label {
  background-color: #df314d;
  color: #fff;
  transition: 0.3s;
}

/* [type="checkbox"] + label {
	padding-inline-start: 30px
} */
.tags-container input[type=checkbox] + label:before {
  font-family: "Feather-Icons";
  content: "\e92b";
  font-size: 18px;
  transition: all 0.35s cubic-bezier(0.5, -0.41, 0.19, 2), max-width 0.3s, margin 0.3s;
  max-width: 0;
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0;
  opacity: 0;
  color: #fff;
  line-height: 0;
  transform: scale(0.5);
}

.tags-container input[type=checkbox]:checked + label:before {
  max-width: 30px;
  opacity: 1;
  transform: scale(1);
  margin: 0 5px 0 -2px;
}

.tags-container .tag {
  display: inline-block;
  margin: 0 0.625rem 0.625rem 0;
  overflow: hidden;
}

.task-tags {
  display: block;
  font-size: 0;
  margin-bottom: -0.625rem;
}

.task-tags span {
  transition: 0.3s;
  font-size: 0.875rem;
  border-radius: 4px;
  background-color: rgba(102, 103, 107, 0.07);
  color: var(--mo-body-color);
  display: inline-block;
  padding: 4px 15px 5px;
  margin: 0 0.625rem 0.625rem 0;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 24px;
  height: 2px;
  background-color: var(--mo-body-color);
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.premium-match {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.premium-match img {
  margin-bottom: 0.5rem;
}

.h-100-1 {
  height: calc(100% - 1rem);
}

/* Material Form */
.collapsible {
  background-color: var(--mo-body-bg);
  border-top: 1px solid var(--mo-border-color-translucent);
  border-right: 1px solid var(--mo-border-color-translucent);
  border-left: 1px solid var(--mo-border-color-translucent);
  margin: 0.5rem 0 1rem 0;
}
.collapsible .collapsible-header, .collapsible .collapsible-body {
  border-bottom: 1px solid var(--mo-border-color-translucent);
}
.collapsible .collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 0.5rem;
}
.collapsible .collapsible-header:hover {
  color: #df314d;
}
.collapsible .collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-inline-end: 0;
}
.collapsible .collapsible-body {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.25rem;
}

[type=checkbox] + label:before,
[type=checkbox]:not(.filled-in) + label:after {
  border-color: var(--mo-border-color-translucent);
}

.billing .card-item {
  height: calc(100% - 1.25rem);
  margin-bottom: 1.25rem;
}
.billing .card-item p {
  line-height: 24px;
}
.billing .card-item p b {
  display: inline-block;
  font-weight: 500;
  min-width: 150px;
  margin-inline-end: 15px;
}
.billing .card-item p .bi {
  font-size: 1.5rem;
}

/* Messenger */
.messenger {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--mo-body-bg);
  border: 1px solid var(--mo-border-color-translucent);
  border-radius: 0.25rem 0.25rem 0 0;
  width: 260px;
  z-index: 100;
  display: none;
}
.messenger ._header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--mo-border-color-translucent);
  padding: 0.75rem 1rem;
}
.messenger ._header h5 {
  margin-bottom: 0;
}
.messenger ._header .btn-close {
  width: 0.625em;
  height: 0.625em;
}
.messenger ._body {
  height: calc(100% - 80px);
  max-height: 500px;
  min-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.messenger ._body ul {
  list-style: none;
  padding: 0;
}
.messenger ._body ul li a {
  color: var(--mo-body-color);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.messenger ._body ul li a .avatar {
  flex-shrink: 0;
  margin-inline-end: 0.5rem;
  position: relative;
}
.messenger ._body ul li a .avatar img {
  border-radius: 50%;
  object-fit: cover;
}
.messenger ._body ul li a h6 {
  flex-grow: 1;
  margin-bottom: 0;
  text-transform: capitalize;
}
.messenger ._body ul li a .ri-checkbox-blank-circle-fill {
  font-size: 0.625rem;
}

.chat-open {
  background-color: #df314d;
  border-radius: 50%;
  color: #fff;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 2rem;
  width: 2rem;
  z-index: 100;
}
.chat-open:hover {
  color: #fff;
}

.chat-box {
  position: fixed;
  right: 270px;
  bottom: 0;
  background-color: var(--mo-body-bg);
  border: 1px solid var(--mo-border-color-translucent);
  border-radius: 0.25rem 0.25rem 0 0;
  width: 330px;
  z-index: 100;
  display: none;
  /* & > div{
     padding-inline-end: 1rem;
  } */
}
.chat-box ._header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mo-border-color-translucent);
  padding: 0.625rem 1rem;
}
.chat-box ._header ._user {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.chat-box ._header ._user .avatar {
  flex-shrink: 0;
  position: relative;
  margin-inline-end: 0.625rem;
}
.chat-box ._header ._user img {
  border-radius: 50%;
  object-fit: cover;
}
.chat-box ._header ._user h5 {
  margin-bottom: 0;
}
.chat-box ._header .btn-close {
  width: 0.625em;
  height: 0.625em;
}
.chat-box ._body {
  max-height: 400px;
  min-height: 200px;
  display: flex;
  /* flex-direction: column; */
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1rem;
}
.chat-box ._body ._user {
  text-align: center;
  padding: 1rem;
}
.chat-box ._body ._user img {
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.chat-box ._body ._user p {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.chat-box ._body ._bubble {
  display: flex;
  align-items: flex-end;
  padding: 0.75rem 1rem;
}
.chat-box ._body ._bubble img {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.chat-box ._body ._bubble ._text {
  flex-grow: 1;
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  color: var(--mo-body-color);
  border-radius: 1rem 1rem 1rem 0;
  padding: 0.625rem 1rem;
}
.chat-box ._body ._bubble ._text p {
  font-size: 0.875rem;
  margin: 0;
}
.chat-box ._body ._bubble.others img {
  margin-inline-end: 1rem;
}
.chat-box ._body ._bubble.me {
  flex-direction: row-reverse;
}
.chat-box ._body ._bubble.me img {
  margin-inline-start: 1rem;
}
.chat-box ._body ._bubble.me ._text {
  background-color: rgba(223, 49, 77, 0.15);
  border-radius: 1rem 1rem 0 1rem;
}
.chat-box .chat-reply {
  border-top: 1px solid var(--mo-border-color-translucent);
  display: flex;
  align-items: flex-start;
}
.chat-box .chat-reply textarea {
  border: none;
}
.chat-box .chat-reply .btn {
  border-radius: 0;
  margin-inline-start: 0.5rem;
  --mo-btn-padding-x: 0.625rem;
}

.chat-helper {
  background-color: rgba(var(--mo-body-color-rgb), 0.05);
  border-bottom: 1px solid var(--mo-border-color-translucent);
  padding: 1rem;
}
.chat-helper .ask-interest {
  margin: 0 -0.5rem;
  text-align: center;
}
.chat-helper .ask-interest span {
  display: inline-block;
  font-size: 0.875rem;
  margin: 0 0.125rem 0.5rem;
  border: 1px solid var(--mo-border-color-translucent);
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  padding: 0.1rem 0.5rem 0.2rem;
  border-radius: 0.15rem;
  line-height: 1.3;
}
.chat-helper .ask-interest span i {
  color: #df314d;
}

/* Daterangepicker */
.daterangepicker {
  background-color: var(--mo-body-bg);
  color: var(--mo-body-color);
}
.daterangepicker .calendar-table {
  background-color: var(--mo-body-bg);
}
.daterangepicker .calendar-table td.available:hover, .daterangepicker .calendar-table th.available:hover {
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
}
.daterangepicker .drp-buttons {
  border-top: 1px solid var(--mo-border-color-translucent);
}

.grid-item {
  max-width: 300px;
}
.grid-item > div {
  position: relative;
}

.popover-body {
  padding-top: 0.625rem;
}

.message-card-header {
  display: flex;
  align-items: center;
}
.message-card-header .btn-close {
  margin-inline-start: auto;
}

.btn-toggle-sidebar {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  font-size: 1.25rem;
  right: 1rem;
}
.btn-toggle-sidebar .bi-arrow-right {
  display: none;
}

.sidebar-collapse .btn-toggle-sidebar {
  position: inherit;
  padding: 0 1rem;
  justify-content: center;
}
.sidebar-collapse .btn-toggle-sidebar .bi-arrow-left {
  display: none;
}
.sidebar-collapse .btn-toggle-sidebar .bi-arrow-right {
  display: block;
}
.sidebar-collapse .profile {
  padding: 1rem;
}
.sidebar-collapse .listMenu .text-only {
  display: none;
  position: absolute;
  background-color: #df314d;
  color: #fff;
  padding: 0.15rem 0.75rem 0.25rem;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-collapse .listMenu .text-only::before {
  content: "";
  background-color: #df314d;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 11px;
  transform: rotate(45deg);
}
.sidebar-collapse .profile {
  border-bottom: none;
}
.sidebar-collapse .profile .profilePic {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.sidebar-collapse .profile .text-center {
  display: none;
}
.sidebar-collapse .dashboard-sidebar {
  border-radius: 0 2rem 2rem 0;
  flex: 0 0 80px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li a {
  display: none;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li a:only-child {
  display: block;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li a:hover .text-only {
  display: block;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li a i {
  margin-inline-end: 0;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li a::after {
  display: none;
}
.sidebar-collapse .dashboard-sidebar .dashboard-nav ul li ul {
  visibility: visible;
  padding: 0;
  line-height: 24px;
  display: block;
  max-height: 200px;
  pointer-events: all;
  background-color: var(--mo-body-bg);
  margin-inline-start: -3px;
}

#chat-app {
  background: none;
  border: none;
}
#chat-app .direct-chat-messages {
  flex: 1;
}
#chat-app .direct-chat-messages .message-bubble .direct-chat-infos {
  font-size: 0.875rem;
  margin-inline-start: 65px;
  margin-bottom: 0.25rem;
}
#chat-app .direct-chat-messages .message-bubble.me .direct-chat-infos {
  margin-inline-start: 0;
  margin-inline-end: 65px;
  display: flex;
  flex-direction: row-reverse;
}
#chat-app .direct-chat-messages .message-bubble.me .direct-chat-infos .direct-chat-name {
  margin-inline-start: 0.375rem;
}

.message-page #chat-app .messages-container-inner .message-content-inner {
  height: calc(100vh - 280px);
}
.message-page #chat-app .messages-container-inner .message-content {
  flex-direction: row;
}

.messages-headline input {
  background-color: var(--mo-light-bg-subtle);
  border: none;
}

.card.s-user-profile {
  flex: 0 0 300px;
  height: 100%;
  height: calc(100vh - 120px);
}
.card.s-user-profile > div {
  overflow-y: scroll;
  width: calc(100% + 18px);
}
.card.s-user-profile > div::-webkit-scrollbar {
  width: 17px;
}
.card.s-user-profile ul.list-info {
  list-style: none;
  padding: 0;
}
.card.s-user-profile ul.list-info li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card.s-user-profile ul.list-info li b {
  font-weight: 500;
}
.card.s-user-profile .intro {
  position: relative;
  background-color: var(--mo-body-bg);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  margin-top: -80px;
}
.card.s-user-profile .info {
  border-bottom: 1px solid var(--mo-border-color-translucent);
  border-top: 1px solid var(--mo-border-color-translucent);
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.card.s-user-profile .action {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
}
.card.s-user-profile .action li {
  flex: 1;
}
.card.s-user-profile .action li a {
  font-size: 1.125rem;
  padding: 1px;
  display: block;
  border: 1px solid;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.card.s-user-profile .action li a.active {
  background-color: #df314d;
  border-color: #df314d;
  color: #fff;
}
.card.s-user-profile .card-body .gallery .col-4 {
  margin-bottom: 0.5rem;
}

.direct-chat-img {
  border-radius: 50%;
}

.card-plan {
  border: none;
}
.card-plan h3 {
  text-transform: uppercase;
}

.btn-group-custom {
  gap: 1rem;
}
.btn-group-custom .btn-outline-light {
  border-radius: 0.25rem !important;
}
.btn-group-custom .btn-check:checked + .btn-outline-light {
  border-color: rgba(223, 49, 77, 0.5);
  background-color: rgba(223, 49, 77, 0.1);
}

.total-coin {
  background-color: var(--mo-dark-bg-subtle);
  border-radius: 2rem;
  display: inline-block;
  font-weight: 500;
  padding: 0.25rem 1rem 0.25rem 1rem;
  padding-inline-end: 1.75rem;
  position: relative;
}
.total-coin img {
  margin-inline-end: 0.25rem;
  vertical-align: sub;
}
.total-coin a {
  position: absolute;
  background-color: #df314d;
  color: #fff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 1.125rem;
  line-height: 1;
  top: 3px;
  text-align: center;
}
.total-coin.lg {
  font-size: 1.125rem;
  padding: 0.25rem 1rem;
}
.total-coin.lg a {
  height: 32px;
  width: 32px;
}

.card-gift {
  border: none;
}
.card-gift .card-image {
  background-color: rgba(var(--mo-body-color-rgb), 0.1);
  position: relative;
  overflow: hidden;
}
.card-gift .card-image img {
  height: 150px;
  object-fit: contain;
  transition: 0.3s;
}
.card-gift .card-image p {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  background-color: rgba(var(--mo-body-color-rgb), 0.5);
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.card-gift h5 a {
  color: var(--mo-body-color);
}
.card-gift:hover .card-image img {
  transform: scale(1.1, 1.1);
}

.filter-md .filter-md-header {
  justify-content: space-between;
}
.filter-md .filter-md-header a {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
}

.overflow-none {
  overflow: hidden;
  position: relative;
}

.owl-carousel-story .owl-item .card .card-image img {
  max-height: 280px;
  object-fit: cover;
  object-position: top;
}

.offcanvas .navbar-nav .nav-item {
  border-bottom: 1px solid var(--mo-border-color-translucent);
}
.offcanvas .navbar-nav .nav-item:last-child {
  border-bottom: none;
}
.offcanvas .navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1rem;
}

/* CSS Document */
@media only screen and (min-width: 601px) {
  .profiles figure .responsive-img {
    width: 100%;
  }
  ul.criteria li {
    float: left;
    width: 33.333%;
  }
  /*ul.criteria li:nth-child(1) {
  	width:30%;
  }
  ul.criteria li:nth-child(2) {
  	width:30%;
  }*/
  nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 44px;
    height: 44px;
  }
  /*nav {
  	line-height: 44px;	
  }*/
  .banner-wrapper {
    position: absolute;
  }
  .testimonial .user {
    height: 160px;
    width: 160px;
  }
  .allUser .user {
    min-height: 150px;
  }
  .allUser .user > img, .slide_gallery .carousel-item > img {
    min-height: 137px;
  }
}
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-inline-start: auto;
  left: auto;
  right: auto;
}

/*
.row .col.s5ths {
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}
*/
/*
@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}
*/
@media only screen and (max-width: 992px) {
  .fb {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  /*ul.list-info li {
  	-ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  ul.list-info li b {
  	display: inline-block;
      min-width: 40%;
  }
  */
}
@media only screen and (min-width: 768px) {
  .effect-from-s .checkbox, .effect-from-s .form-check {
    float: left;
    width: 33.33333%;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.xl5ths {
    width: 20%;
  }
  h2.title {
    font-size: 3rem;
  }
  .banner_caption {
    font-size: 4rem;
    line-height: 4.25rem;
  }
  #toast-container {
    top: 10%;
    right: 10%;
    width: 80%;
  }
  .toast {
    width: 100%;
  }
  .address-item {
    min-height: 175px;
  }
  ul.gallery li {
    width: 24.99%;
  }
}
@media only screen and (min-width: 1400px) {
  .dashboard-sidebar {
    flex: 0 0 300px;
  }
  .intro-banner .container > .row {
    min-height: 600px;
  }
  .intro-banner .background-image-container.light {
    background-size: 80%;
  }
}
@media only screen and (max-width: 991.98px) {
  nav ul li > a > span.badge {
    top: 15px;
  }
  nav ul li > a > span.badge#activity_count {
    top: 15px;
  }
  #logo {
    border: none;
  }
  .balloon {
    display: none;
  }
  #header {
    height: 64px;
  }
}
@media only screen and (max-width: 767px) {
  .profileCard .media-body .btn {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
  }
  .stickyDiv {
    position: relative;
    width: 100%;
  }
  .d-none-sm {
    display: none !important;
  }
  .membership .btn-group {
    display: flex;
    flex-direction: column;
  }
  .membership .btn-group .btn {
    margin: 0 0 1rem !important;
  }
  .travel-date {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .freelancer {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 600px) {
  nav .brand-logo > img {
    display: block;
    height: 36px;
  }
  .banner_caption {
    font-size: 1.75rem;
    line-height: normal;
    margin-top: 20px !important;
  }
  .testimonial .user {
    height: 120px;
    width: 120px;
  }
  .banner-wrapper {
    position: relative;
  }
  ul.gallery li {
    width: 50%;
  }
  ul.criteria li {
    float: left;
    width: 50%;
  }
  .allUser .user > img {
    max-height: 167px;
  }
  .address-item {
    margin-bottom: 20px;
  }
  .address .col:last-child .address-item {
    margin-bottom: 0;
  }
  .user .avatar {
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #ddd;
  }
  .profileCard .media {
    display: block;
    text-align: center;
  }
  .profileCard .media .mr-4 {
    margin-right: 0 !important;
  }
  .profileCard .text-right {
    text-align: center !important;
  }
  .nav-tabs {
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 43px;
  }
  #logo img {
    max-width: 150px;
    height: auto;
  }
}
/* END CSS */
/* END CSS *//*# sourceMappingURL=style.css.map */